/* HEsADER STYLE START  */

.site-header {
    padding: 71px 0 33px;
    width: 1200px;
    margin: 0 auto;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
}
.header-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    transition: color 0.3s;
}
.header-link:hover {
    color: #F67E7E ;
}
.header-contact-link {
    width: 153px;
    height: 48px;
    margin-left: 577px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    transition: all 0.3s; 
    align-items: center;
    display: flex;
    justify-content: center;
}
.header-contact-link:hover {
    background-color: white;
    color: #002529;
}

@media (max-width: 768px) {
    .site-header {
        width: 768px;
        padding-left: 39px;
    }
    .header-logo {
        width: 128px;
        height: 32px;
    }
    .header-list {
        margin-left: -70px;
    }
    .header-contact-link {
        margin-left: 220px;
    }
}